* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}
.link{
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
  padding: 4px;
}


